{% extends "wyborca.html" %}
{% block wyborca %}
<p1>Głosowanie na kandydatów w wyborach</p1>
<!-- najpierw wybierz wybory z listy /value/, nastepnie wyswietl na ekranie na ile osob mozna zaglosowac w wybranych wyborach, potem wypisz wszystkich mozliwych kandydatow ale przy kazdym daj opcje do glosowania i na koniec daj przycisk zatwierdz glos-->
<form action="{{ url_for('glosowanie') }}" method="post">
    <p1>Wybory:</p1>
    <select name="wybory">
        {% for wybor in wybory %}
            <option value="{{ wybor[0] }}">{{ wybor[1] }}</option>
        {% endfor %}
    </select><br>
    <p1>W tych wyborach można zagłosować na {{x}} kandydatów spośród {{y}}. </p1><br>
    <p1>Wybierz kandydata/ów, na którego/ych chcesz oddać głos:</p1>
    {% for kandydat in kandydaci %}
        <label>
            <input type="checkbox" name="kandydaci" value="{{ kandydat[0] }}">
            {{ kandydat[1] }}
        </label>
    {% endfor %}
    <br>
    <input type="submit" value="Zagłosuj">
</form>
{% endblock %}