<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Strona wyborów studenckich</title>
    <style>
        .disabled {
            background-color: #cccccc;
        }
    </style>
    <script>
        function toggleIndexField() {
            var checkBox = document.getElementById("komisja");
            var indexField = document.getElementById("index");
            if (checkBox.checked == true){
                indexField.disabled = true;
                indexField.classList.add("disabled");
            } else {
                indexField.disabled = false;
                indexField.classList.remove("disabled");
            }
        }
    </script>
</head>
<body>
    <h1>Strona wyborów studenckich</h1>
    <form method="POST" action="/login">
        <label for="index">Nr indeksu:</label>
        <input type="text" id="index" name="index" maxlength="6" pattern="[0-9]+" required oninput="this.value = this.value.replace(/[^0-9]/g, '')"><br><br>
        <input type="checkbox" id="komisja" name="komisja" onchange="toggleIndexField()"><label for="komisja">Zaloguj jako komisja</label><br><br>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required><br><br>
        {% block haslo %}{% endblock %}
        <br>
        <input type="submit" value="Zaloguj">
    </form>
</body>
</html>